# Ignore local environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore any database credentials
*.log
*config.ini

# Sanal Ortam
venv/
*.pyc

# Python Bağımlılıkları ve Veriler
__pycache__/
*.sqlite
/data/